body {
      background-color:white;
      font-family: Arial, sans-serif;
    }
    .card {
      border-radius: 12px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }
    .review-star {
      color: #28a745;
    }
    .green{
      background-color: #28a745;
    }
    .custom-popup .leaflet-popup-content-wrapper {
    background-color: #e8f5e9; /* أخضر فاتح */
    color: #1b5e20; /* أخضر غامق */
    border: 2px solid #388e3c;
    border-radius: 12px;
    font-size: 14px;
  }
  .custom-popup .leaflet-popup-tip {
    background-color: #e8f5e9;
  }
  .directions-btn {
    background-color: #4caf50;
    color: white;
    font-weight: bold;
  }
  .directions-btn:hover {
    background-color: #388e3c;}
    @media (max-width: 576px) {
  #map { height: 180px; }
}
@media (max-width: 576px) {
  .reviews img { width: 30px; height: 30px; }
}
@media (max-width: 576px) {
  .btn { display: block; width: 100%; margin-bottom: 10px; }
}
@media (max-width: 768px) {
  .navbar .form-control { width: 150px; font-size: 14px; }
}
@media (max-width: 576px) {
  .navbar .form-control { width: 100%; margin-bottom: 10px; }
}
@media (max-width: 576px) {
  .card { padding: 10px; }
}
@media (max-width: 768px) {
  .navbar .d-flex.flex-wrap {
    justify-content: center;
    gap: 10px;
  }
  .navbar .form-control {
    width: 100%;
  }
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
.btn:active:hover {
  background-color: #198754 !important; /* نفس لون البوتون الأساسي */
}


   
    